body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    border-radius: 1px 100px;

}

.box h1 {
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="email"],
.box input[type="password"] {
    border: 0;
    background: none;
    margin: 20px auto;
    display: block;
    text-align: center;
    border: 2px solid #3490db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: o.25s;
}

.box input[type="email"]:focus,
.box input[type="password"]:focus {
    width: 280px;
    border-color: #2ecc71;

}

.box input[type="submit"] {
    border: 0;
    background: none;
    margin: 20px auto;
    display: block;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: o.25s;
    cursor: pointer;

}

.box .submit:hover {
    background: #2ecc71;
}

.box .submit {
    border: 0;
    text-decoration: none;
    background: none;
    margin: 20px auto;
    display: block;
    text-align: center;
    border: 2px solid #cc2e97;
    padding: 8px 20px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: o.25s;
    cursor: pointer;

}

.box .submit:hover {
    background: #cc2e97;
}